<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WordAdd</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_mischka.min.css">
    <style>
        .Bdc\(red\) {
            color: red;
        }
    </style>
</head>
<body>
<main>
    <fieldset>
        <legend>Add word</legend>
        <form method="post" th:action="@{/word/addWord}" th:object="${wordToAdd}">
            <label>Word</label>
            <input th:type="text" th:field="*{word}"/>
            <p class="Bdc(red)" th:if="${#fields.hasErrors('word')}" th:errors="*{word}"></p>

            <label>Language</label>
            <select th:field="*{wordLanguage}">
                <p class="Bdc(red)" th:if="${#fields.hasErrors('wordLanguage')}" th:errors="*{wordLanguage}"></p>
                <option value=""> ---</option>
                <option th:each="language : ${languages} "
                        th:value ="${language.name()}"
                        th:utext="${language.name()}">
                </option>
            </select>

            <label>Translation</label>
            <p class="Bdc(red)" th:if="${#fields.hasErrors('wordTranslation')}" th:errors="*{wordTranslation}"></p>
            <input th:type="text" th:field="*{wordTranslation}">

            <label>Language</label>
            <select th:field="*{translationLanguage}">
                <option value=""> ---</option>
                <option th:each="language : ${languages} "
                        th:value ="${language.name()}"
                        th:utext="${language.name()}">
                </option>
            </select>
            <p class="Bdc(red)" th:if="${#fields.hasErrors('translationLanguage')}" th:errors="*{translationLanguage}"></p>

            <label>Wordset</label>
            <select th:field="*{wordSet}">
                <option value=""> ---</option>
                <option th:each="wordset : ${wordSets} "
                        th:value ="${wordset.getWordSetId}"
                        th:utext="${wordset.wordSetName}">
                </option>
            </select>

            <button type="submit">Create</button>
            <button type="reset">Clear</button>
            <button><a th:href="@{'/word/view'}">Back</a></button>
        </form>
    </fieldset>
</main>
</body>
</html>