<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WordEdit</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_mischka.min.css">
</head>
<body>
<main>
    <fieldset>
        <legend th:text="|Edit word ${wordFromSource.wordId}|"></legend>
        <!--/*@thymesVar id="wordFromSource" type="io.github.wojtekmarcin.memobox.entities.Word"*/-->
        <form method="post" th:action="@{'/word/editWord/' + ${}}" th:object="${wordFromSource}">
            <label>Word</label>
            <input th:type="text" th:field="*{word}"/>
            <label>Translation</label>
            <input th:type="text" th:field="*{wordTranslation}">
            <label>Word type</label>
            <input th:type="text" th:field="*{wordTypeId}">
            <label>Language</label>
            <input th:type="text" th:field="*{wordLanguageId}">
            <button type="submit">Edit</button>
            <button type="reset">Clear</button>
            <button><a th:href="@{'/word/view'}">Back</a></button>
        </form>
    </fieldset>
</main>
</body>
</html>