<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WordEdit</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_mischka.min.css">
    <style>
        .Bdc\(red\) {
            color: red;
        }
    </style>
</head>
<body>
<main>
    <fieldset>
        <legend th:text="|Edit word ${wordFromSource.wordId}|"></legend>
        <!--/*@thymesVar id="wordFromSource" type="io.github.wojtekmarcin.memobox.entities.Word"*/-->
        <form method="post" th:action="@{'/word/editWord/' + ${wordFromSource.getWordId()}}" th:object="${wordFromSource}">
            <label>Word</label>
            <input th:type="text" th:field="*{word}"/>
            <p class="Bdc(red)" th:if="${#fields.hasErrors('word')}" th:errors="*{word}"></p>

            <label>Language</label>
            <select th:field="*{wordLanguage}">
                <option value=""> ---</option>
                <option th:each="language : ${languages} "
                        th:value ="${language.name()}"
                        th:utext="${language.name()}">
                </option>
            </select>

            <label>Translation</label>
            <input th:type="text" th:field="*{wordTranslation}">
            <p class="Bdc(red)" th:if="${#fields.hasErrors('wordTranslation')}" th:errors="*{wordTranslation}"></p>

            <label>Language</label>
            <select th:field="*{translationLanguage}">
                <option value=""> ---</option>
                <option th:each="language : ${languages} "
                        th:value ="${language.name()}"
                        th:utext="${language.name()}">
                </option>
            </select>

            <label>Word Set</label>
            <input th:type="text" th:field="*{wordSet}">

            <button type="submit">Edit</button>
            <button type="reset">Clear</button>
            <button><a th:href="@{'/word/view'}">Back</a></button>
        </form>
    </fieldset>
</main>
</body>
</html>