<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WordEdit</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_mischka.min.css">
    <style>
        .Bdc\(red\) {
            color: red;
        }
    </style>
</head>
<body>
<main>
    <fieldset>
        <legend th:text="|Edit word ${wordFromSource.wordId}|"></legend>
        <!--/*@thymesVar id="wordFromSource" type="io.github.wojtekmarcin.memobox.entities.Word"*/-->
        <form method="post" th:action="@{'/word/editWord/' + ${wordFromSource.getWordId()}}"
              th:object="${wordFromSource}">
            <label>Word</label>
            <input th:type="text" th:field="*{word}"/>
            <p class="Bdc(red)" th:if="${#fields.hasErrors('word')}" th:errors="*{word}"></p>

            <label>Translation</label>
            <input th:type="text" th:field="*{wordTranslation}">
            <p class="Bdc(red)" th:if="${#fields.hasErrors('wordTranslation')}" th:errors="*{wordTranslation}"></p>

            <label>Word type</label>
            <input th:type="text" th:field="*{wordTypeId}">
            <p class="Bdc(red)" th:if="${#fields.hasErrors('wordTypeId')}" th:errors="*{wordTypeId}"></p>

            <label>Language</label>
            <input th:type="text" th:field="*{wordLanguageId}">
            <p class="Bdc(red)" th:if="${#fields.hasErrors('wordLanguageId')}" th:errors="*{wordLanguageId}"></p>

            <label>Wordset</label>
            <select th:field="*{wordsSetWordId}">
                <option value="">
                    <p th:text="${wordFromSource.wordsSetWordId != null } ? ${wordFromSource.wordsSetWordId} : EMPTY "></p>
                </option>
                <option th:each="wordset : ${wordSets} "
                        th:value="${wordset.getWordSetId}"
                        th:utext="${wordset.getSetName}">
                </option>
            </select>

            <button type="submit">Edit</button>
            <button type="reset">Clear</button>
            <button><a th:href="@{'/word/view'}">Back</a></button>
        </form>
    </fieldset>
</main>
</body>
</html>