<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Word View</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_mischka.min.css">
</head>
<body>
<main>
    <h1>Words</h1>
    <fieldset>
        <legend>Options</legend>
        <form>
            <button><a th:href="@{'/word/addWord'}">Create new word</a></button>
            <button><a th:href="@{'/'}">Back</a></button>
        </form>
    </fieldset>
    <fieldset>
        <legend>Words</legend>
        <table>
            <thead>
            <tr>
                <th>Word</th>
                <th>Translation</th>
                <th>Word type</th>
                <th>Language</th>
                <th>Words Set</th>
                <th>CreateDate</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody th:each="word,wordStat : ${words}">
            <tr>
                <td><p th:text="${word.word}"></p></td>
                <td><p th:text="${word.wordTranslation}"></p></td>
                <td><p th:text="${word.wordTypeId}"></p></td>
                <td><p th:text="${word.wordLanguageId}"></p></td>
                <td><p th:text="${word.wordsSetWordId}"></p></td>
                <td><a th:href="@{'/word/editWord/' + ${word.wordId}}">Edit</a></td>
                <td><a th:href="@{'/word/deleteWord/' + ${word.wordId}}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</main>
</body>
</html>