<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UserAdd</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_mischka.min.css">
    <style>
        .Bdc\(red\) {
            color: red;
        }
    </style>
</head>
<body>
<main>
    <fieldset>
        <legend>Add user</legend>
<!--        TODO
              -stylizacja wiadomości-->
        <div th:text="${message}"/>
        <form method="post" th:action="@{/user/addUser}" th:object="${userToAdd}">

            <label>Login</label>
            <input th:type="text" th:field="*{login}"/>
            <p class="Bdc(red)" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></p>

            <label>Password</label>
            <input th:type="text" th:field="*{password}">
            <p class="Bdc(red)" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>


            <button type="submit">Create</button>
            <button type="reset">Clear</button>
            <button><a th:href="@{'/user/view'}">Back</a></button>
        </form>
    </fieldset>
</main>
</body>
</html>