<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UsersView</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_mischka.min.css">
</head>
<body>
<main>
    <!--/*@thymesVar id="user" type="io.github.wojtekmarcin.memobox.entities.User"*/-->
    <h1 th:text="Users">Users</h1>
    <fieldset>
        <legend>Options</legend>
        <form>
            <button><a th:href="@{'/user/addUser'}">Create new user</a></button>
            <button><a th:href="@{'/'}">Back</a></button>
        </form>
    </fieldset>
    <fieldset>
        <legend>Search</legend>
        <form method="get" th:action="@{/user/search}">
            <input type="text" name="keyword" th:value="${keyword}"/>
            <p>Filter by:
                <label><input type="radio" name="filterType" th:value="${1}" class="custom-control-input" checked/> login</label>
                <label><input type="radio" name="filterType" th:value="${2}" class="custom-control-input"/> password</label></p>
            <button type="submit">Search</button>
            <button type="button"><a th:href="@{'/user/view'}">Clear</a></button>
        </form>
    </fieldset>
    <fieldset>
        <legend>All users</legend>
        <table>
            <thead>
            <tr>
                <th>UserId</th>
                <th>Login</th>
                <th>Password</th>
                <th>MemoBoxId</th>
                <th>WordsSetId</th>
                <th>CreateDate</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody th:each="user,userStat : ${users}">
            <tr>
                <td><p th:text="${user.userId}"></p></td>
                <td><p th:text="${user.login}"></p></td>
                <td><p th:text="${user.password}"></p></td>
                <td><p th:text="${user.memoBoxId}"></p></td>
                <td><p th:text="${user.wordsSetId}"></p></td>
                <td><p th:text="${user.audit.viewCreatedDate()}"></p></td>
                <td><a th:href="@{'/user/editUser/' + ${user.userId}}">Edit</a></td>
                <td><a th:href="@{'/user/deleteUser/' + ${user.userId}}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</main>
</body>
</html>