<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MemoboxView</title>
  <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_mischka.min.css">
</head>
<body>
<main>
  <h1>Memobox</h1>
    <fieldset th:each="memobox,memoboxStat : ${memoboxes}">
      <legend th:text="|Memobox ${memobox}|"></legend>
      <table>
        <thead>
        <tr>
          <th>memoBoxId</th>
          <th>wordSlot</th>
          <th>memoBoxesWordsSets</th>
          <th>wordId</th>
        </tr>
        </thead>
        <tbody>
<!--        <tr>-->
<!--          <td><p th:text="${}"></p></td>-->
<!--          <td><p th:text="${}"></p></td>-->
<!--          <td><p th:text="${}"></p></td>-->
<!--          <td><p th:text="${}"></p></td>-->
<!--        </tr>-->
        </tbody>
      </table>
    </fieldset>
</main>
</body>
</html>