<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_black.min.css">
</head>
<body>
<main>
    <h1>Memobox!</h1>

<fieldset>
    <legend>User panel</legend>
    <button type="submit" th:name="action" th:href="@{'/subjectsManager'}">Users</button>
    <button type="submit" th:name="action" th:href="@{'/wordView'}">Words</button>
    <button type="submit" th:name="action" th:href="@{'/subjectsManager'}">Memoboxes</button>
</fieldset>
<fieldset>
    <legend>Admin panel</legend>
    <button type="submit" th:name="action" th:href="@{'/subjectsManager'}">Users</button>
    <button type="submit" th:name="action" th:href="@{'/wordView'}">Words</button>
    <button type="submit" th:name="action" th:href="@{'/subjectsManager'}">Memoboxes</button>
</fieldset>
    <fieldset>
        <img src="https://www.wykop.pl/cdn/c3201142/comment_1612536861opi9PSZM3cumGvdCoGh16w.jpg">
    </fieldset>
</main>
</body>

</html>
