<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_mischka.min.css">
</head>
<body>
<main>
    <h1>Memobox!</h1>
    <fieldset>
        <legend>User</legend>
        <button><a th:href="@{'/userPage'}">Sign in</a></button>
        <button><a th:href="@{'/register'}">Register</a></button>
    </fieldset>
    <fieldset>
        <legend>Admin</legend>
        <button><a th:href="@{'/adminPage'}">Sign in</a></button>
    </fieldset>
</main>
</body>
</html>
