<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_mischka.min.css">
    <style>
        .Bdc\(red\) {
            color: red;
        }
    </style>
</head>
<body>
<main>
    <fieldset>
        <legend>Registration</legend>
        <!--        TODO
                      -stylizacja wiadomości-->
        <div th:text="${message}"/>
        <form method="post" th:action="@{/register/createUser}" th:object="${userToAdd}">

            <label>Login</label>
            <input th:type="text" th:field="*{username}"/>
            <p class="Bdc(red)" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>

            <label>Password</label>
            <input th:type="text" th:field="*{password}">
            <p class="Bdc(red)" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

            <button type="submit">Create</button>
        </form>
    </fieldset>
</main>
</body>
</html>