<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>
<body>
<!--/*@thymesVar id="users" type="io.github.wojtekmarcin.memobox.entities.User"*/-->
<h1 th:text="User">User</h1>

<table>
    <thead>
    <tr>
        <th>Login</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.password}">1</td>
        <td th:text="${user.login}">2</td>
    </tr>
    </tbody>
</table>
</body>
</html>