<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"-->
    <!--          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>l
<body>
<main>
    <!--/*@thymesVar id="users" type="io.github.wojtekmarcin.memobox.entities.User"*/-->
    <dl th:each="user : ${users}"></dl>
    <dt th:text="${user.login}">...</dt>
    <dt th:text="${user.password}">...</dt>
    <!--    <dd>
            <ul>
                &lt;!&ndash;/*@thymesVar id="memoBoxId" type="io.github.wojtekmarcin.memobox.entities.User"*/&ndash;&gt;
                <li th:each="user : ${users}" th:text=""></li>
            </ul>
        </dd>-->
    <!--/*@thymesVar id="user" type="io.github.wojtekmarcin.memobox.entities.User"*/-->
    <p>
        <button type="submit">Add user</button>
        <button type="reset">Reset</button>
    </p>
</main>

</body>
</html>