<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_mischka.min.css">
</head>
<body>
<main>
    <fieldset>
        <legend>User panel</legend>
        <button><a th:href="@{'/word/view'}">Words</a></button>
        <button><a th:href="@{'/memobox/addMemobox'}">Memobox</a></button>
        <button><a th:href="@{'/wordset/view'}">Wordset</a></button>
        <button><a th:href="@{'/logout'}">Logout</a></button>
    </fieldset>
</main>
</body>
</html>
