<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Word View</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>
<body>
<main>
    <fieldset>
        <legend>Word</legend>
        <fieldset>
            <legend>Words Statistics</legend>
            <p th:text=""></p>
        </fieldset>
        <fieldset th:each="word,wordStat : *{words}">
            <legend th:field="|Word ${wordStat.index +1}|"></legend>
            <label>Word
                <p th:field="${word.word}"></p>
            </label>
            <label>Translation
                <p th:field="${word.wordTranslation}"></p>
            </label>
        </fieldset>
    </fieldset>
</main>
</body>
</html>